# IBM Data Science Peer-Reviewed Assignment

This notebook includes examples to demonstrate my ability to create a Jupyter notebook and implement its various features.

Data Science Languages

- Python
- R
- SQL

Data Science Libraries

- pandas
- matplotlib
- apache spark

Data Science Tools

|Tool|Category|
|------|------|
|MySQL|Data management|
|Apache AirFlow| ETL |
|Tableau|Visualization|

The following cell will demonstrate the basic arithmetic operations of addition and multiplication.

In [5]:
1+1*2

3

The following cell will convert minutes to hours.

In [6]:
minutes = 5959
hours = minutes/60
print(hours)

99.31666666666666

ok not gonna lie idk what they actually mean when the instructions say "list objectives" but uhhh

Objectives:
- Create a Jupyter notebook
- Demonstrate understanding of markup language and differentiate between usage of markup vs code cells
- Demonstrate ability to use GitHub to share code

Name: Daniel Fan